<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <div th:include="partials/head"></div>
</head>
<body>

<div class="page-wrapper">
  <div th:include="partials/navbar"></div>
  <div class="content-wrapper">
<!-- Include the navbar partial -->


<!-- Include the header partial -->
<div th:include="partials/header"></div>

<!-- Main content of the page goes here -->
<div>
  <!-- Page-specific content -->
</div>

<!-- Include the footer partial -->
<div th:include="partials/footer"></div>
  </div>
</div>
</body>
</html>
